<div class="container header-container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 header-left">
      <h1>{{ include.profile.name }}</h1>
      <h2>{{ include.profile.title }}</h2>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 header-right">
      <ul class="icons no-print">
        {%- if site.github_username -%}
          <li>
            <a target="_blank" href="https://github.com/{{ site.github_username }}" class="button button--sacnite button--round-l">
              <i class="fab fa-github" title="Github link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.linkedin_username -%}
          <li>
            <a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" class="button button--sacnite button--round-l">
              <i class="fab fa-linkedin" title="Linkedin link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- for link in site.additional_links -%}
          <li>
            <a href="{{ link.url }}" target="_blank" class="button button--sacnite button--round-l">
              <i class="{{ link.icon }}" title="{{ link.title }}"></i>
            </a>
          </li>
        {%- endfor -%}
      </ul>
      {%- if site.email -%}
        <p>{{ include.profile.email_label | default: "Email" }}: <a href="mailto:{{ site.email }}" target="_blank">{{ site.email }}</a></p>
      {%- endif -%}
    </div>
  </div>
</div>
