<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: eng }}">

{%- include head.html -%}
    <meta property="og:image" content="https://blogpfthumb-phinf.pstatic.net/MjAyMjExMTRfMTE3/MDAxNjY4NDE5MjM5MTcx.XP6MO-nzWL4JmzSXAwi93bddCFCO1BlLYCCanMaQtWsg.NMC2j792Ipp2t3cZKI96sYPqvA_V9YDjQH53lsEaq3og.JPEG.tmdwh7275/profile.jpg/profile.jpg?type=w161">
  
    <!-- HTML Meta Tags -->
    <title>Junior Product Manger</title>
    <meta name="description" content="Repo for English resume page.">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://seungjohan.github.io/global/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Junior Product Manger">
    <meta property="og:description" content="Repo for English resume page.">
    <meta property="og:image" content="https://blogpfthumb-phinf.pstatic.net/MjAyMjExMTRfMTE3/MDAxNjY4NDE5MjM5MTcx.XP6MO-nzWL4JmzSXAwi93bddCFCO1BlLYCCanMaQtWsg.NMC2j792Ipp2t3cZKI96sYPqvA_V9YDjQH53lsEaq3og.JPEG.tmdwh7275/profile.jpg/profile.jpg?type=w161">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="seungjohan.github.io">
    <meta property="twitter:url" content="https://seungjohan.github.io/global/">
    <meta name="twitter:title" content="Junior Product Manger">
    <meta name="twitter:description" content="Repo for English resume page.">
    <meta name="twitter:image" content="https://blogpfthumb-phinf.pstatic.net/MjAyMjExMTRfMTE3/MDAxNjY4NDE5MjM5MTcx.XP6MO-nzWL4JmzSXAwi93bddCFCO1BlLYCCanMaQtWsg.NMC2j792Ipp2t3cZKI96sYPqvA_V9YDjQH53lsEaq3og.JPEG.tmdwh7275/profile.jpg/profile.jpg?type=w161">

<body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
        <div class="wrapper">

            {%- include about.html -%}

            {%- if site.data.experience.size > 0 -%}
                {%- include experience.html -%}
            {%- endif -%}

            {%- if site.data.relevantskill.size > 0 -%}
                {%- include relevantskill.html -%}
            {%- endif -%}

            {%- if site.data.education.size > 0 -%}
                {%- include education.html -%}
            {%- endif -%}

            {%- if site.data.relevantactivity.size > 0 -%}
                {%- include relevantactivity.html -%}
            {%- endif -%}

            {%- if site.data.projects.size > 0 -%}
                {%- include projects.html -%}
            {%- endif -%}

            {%- include more.html -%}

        </div>
    </main>

    {%- include footer.html -%}

</body>

</html>
